[data-theme="dark"] {
    --main-color: #eaeaea;
    --bg-color: #121212;
    --bg-container: #1e1e1e;
    --bg-shadow: rgba(0, 255, 170, 0.5);
    --green-color: #00ffaa;
    --orange-color: #ff8c00;
    --white-color: white;
}

[data-theme="light"] {
    --main-color: black;
    --bg-color: white;
    --bg-container: white;
    --bg-shadow: rgba(0, 255, 170, 0.5);
    --green-color: black;
    --orange-color: grey;
    --white-color: black;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: var(--main-color);
}

/* Body Style */
body {
    background-color: var(--bg-color);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Container */
.container {
    max-width: 800px;
    padding: 20px;
    background: var(--bg-container);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--bg-shadow);
}

/* Header */
h1,
h2,
p {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--green-color);
}

/* ASCII/Terminal Style */
.ascii-container {
    text-align: center;
    /* center the pre block */
}

.ascii {
    display: inline-block;
    /* allows centering */
    white-space: pre;
    /* preserve spaces */
    color: var(--main-color);
    font-size: 0.9em;
    margin-bottom: 20px;
}

/* Loading text */
.loading-text {
    font-size: 1em;
    color: var(--green-color);
    margin-top: 10px;
    font-weight: bold;
}

/* Animate the dots */
@keyframes blink-dots {

    0%,
    20% {
        content: "";
    }

    40% {
        content: ".";
    }

    60% {
        content: "..";
    }

    80%,
    100% {
        content: "...";
    }
}

.dots::after {
    content: "";
    animation: blink-dots 1.5s infinite steps(1);
}

/* Links */
a {
    color: var(--green-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--orange-color);
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
}